[MdmGreeterTheme]
Encoding=UTF-8
Greeter=theme.xml
Name=Blue Aurex Login
Description=Based on "Blue Login" from Eduardo R. GDM theme
Author=Emmanuel Nolasco
Screenshot=screenshot.png
