[GdmGreeterTheme]
Encoding=UTF-8
Greeter=grace.xml
Name=Aurex Simply Grace
Description=Aurex customization of Simply Grace GDM theme.
Author=Riley Brandt. Background by alexander-gg
Copyright=CC Attribution-Noncommercial-Share Alike
Screenshot=screen.jpg
