Source: aurex-artwork
Section: admin
Priority: optional
Maintainer: Luis Antonio Garcia Gisbert <luisgg@gmail.com>
Build-Depends: debhelper (>= 7.0), xcftools, inkscape
Standards-Version: 3.8.4

Package: aurex-gtk-theme
Architecture: all
Depends: ${misc:Depends}, clearlooks-phenix-theme, radiance-colors-xfce-lxde, aurex-icon-theme, aurex-wallpaper-theme, aurex-icon-theme
#, gnome-screensaver, aurex-gdm-theme
Description: Aurex 12.04 theme
 AureX full theme for GNOME/XFCE

Package: aurex-icon-theme
Architecture: all
Depends: ${misc:Depends}, aurex-transmute, faience-icon-theme
Description: Aurex 12.04 icon theme
 AureX icon theme based on Faience-Azur

Package: aurex-wallpaper-theme
Architecture: all
Depends: ${misc:Depends}
Description: Aurex 12.04 wallpaper theme
 AureX wallpaper theme

Package: aurex-mdm-theme
Architecture: all
Section: x11
Depends: ${misc:Depends}, aurex-transmute (>=0.26), mdm (>=1.0.7-0~webupd8~precise), aurex-icon-theme
Description: Aurex 12.04 mdm configuration
 AureX 12.04 default mdm settings

Package: aurex-fatcli-mdm
Architecture: all
Section: x11
Depends: ${misc:Depends}, aurex-transmute (>=0.26), mdm (>=1.0.7-0~webupd8~precise), aurex-mdm-theme
Description: Aurex 12.04 Fat Clients mdm configuration
 AureX 12.04 Fat Clients mdm settings

Package: aurex-gdm-theme
Architecture: all
Section: x11
Depends: ${misc:Depends}, aurex-transmute, gdm, aurex-wallpaper-theme
Description: Aurex 12.04 gdm configuration
 AureX 12.04 default gdm settings

Package: aurex-boot-theme
Architecture: all
Depends: ${misc:Depends}, aurex-transmute, grub-pc
Description: Aurex 12.04 GRUB theme
 AureX splashimage to be used with GRUB

Package: aurex-plymouth-theme
Architecture: all
Depends: ${misc:Depends}, aurex-transmute, plymouth, plymouth-label, plymouth-theme-script, plymouth-theme-text
Description: Aurex 12.04 plymouth theme
 This package installs floating-aurex plymouth theme, based on floating-logo.
 The old aurex-sunrise plymouth theme is also installed.

Package: aurex-translive-theme
Architecture: all
Depends: ${misc:Depends}
Description: Aurex 12.04 translive artwork
 This package installs aurex-translive splash images

Package: aurex-ubiquity-theme
Architecture: all
Depends: ${misc:Depends}, ubiquity-ubuntu-artwork
Description: Aurex artwork for Ubiquity live installer
 This package provides aurex-themed user interface artwork
 for the Ubiquity live CD installer.

